<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <ul style="cursor:pointer" class="nav nav-pills flex-column my-4">
        <li class="nav-item">
          <a class="nav-link active">Details</a>
        </li>
      </ul>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <mat-progress-bar mode="indeterminate" class="my-4" *ngIf="loadingMovie"></mat-progress-bar>
      <ng-container *ngIf="!loadingMovie && movie != null">
        <div class="card mt-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="movie.embed | safe" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{ movie.title }}</h3>
            <!-- <h4>$24.99</h4> -->
            <p class="card-text">{{ movie.description }}</p>
            <span class="text-warning">
              <ng-container *ngFor="let i of [].constructor(5); let index = index;">
                <ng-container *ngIf="(index < movie.rating); else whiteStarTpl;">
                  &#9733;
                </ng-container>
                <ng-template #whiteStarTpl>&#9734;</ng-template>
              </ng-container>
            </span>
            {{ movie.rating }}.0 stars
            <div class="float-right" *ngIf="authService.isUser">
              <i role="button" [ngClass]="{
                  'fas': isInWishlist || togglingFav,
                  'far': !isInWishlist && !togglingFav,
                  'fa-heart': !togglingFav,
                  'mr-2': true,
                  'fa-spinner': togglingFav,
                  'fa-spin': togglingFav
              }" style="font-size: 24px;" (click)="toggleFav()"></i>
              <button type="button" class="btn btn-primary" (click)="rentMovie()">
                <i *ngIf="rentModal.working" class="fas fa-spinner fa-spin"></i>
                <span *ngIf="!rentModal.working">Rent</span>
              </button>
            </div>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Movie Reviews
            <select [(ngModel)]="sortBy" class="form-control float-right" style="width:130px;" (change)="changeSort()">
              <option disabled>Sort</option>
              <option value="createdAt">Latest First</option>
              <option value="-createdAt">Latest Last</option>
            </select>
          </div>
          <div class="card-body">
            <ng-container *ngIf="(reviews.length == 0)">
              <div class="alert alert-info">
                No reviews yet!<span *ngIf="authService.isUser">, be the first. <a href="javascript:void(0)" (click)="toggleReviewForm()">Review now</a></span>
              </div>
            </ng-container>
            <ng-container *ngFor="let r of reviews">
              <p>{{ r.review }}</p>
              <small class="text-muted">Posted by {{ (r.userID) ? r.userID.name : 'Unknown' }}, {{ r.postedAgo }}</small>
              <hr>
            </ng-container>

            <a href="javascript:void(0)" *ngIf="!reviewConfig.showForm && authService.isUser" (click)="toggleReviewForm()"
              class="btn btn-success">Leave a Review</a>

            <div class="row mt-2" *ngIf="reviewConfig.showForm">
              <div class="col">
                <div class="form-group">
                  <label for="review">Write a Review</label>
                  <textarea [(ngModel)]="reviewText" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label>
                    <input [(ngModel)]="isReviewAnonymous" type="checkbox" class="checkbox"> Stay Anonymous
                  </label>
                </div>
                <div class="form-group">
                  <div class="float-right">
                    <button type="button" class="btn btn-secondary mr-2" (click)="toggleReviewForm()">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="saveReview()">Save Review</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </ng-container>
      <ng-container *ngIf="!loadingMovie && movie == null">
        <div class="alert alert-info my-4">
          Movie does not exists
        </div>
      </ng-container>
    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->

<app-modal [title]="'Confirm Rent Movie'" [show]="rentModal.show"
    (onHidden)="rentModal.show = false" [config]="{
        header: true,
        footer: true
    }">
    <div content-type="body">
        <table class="table table-bordered" *ngIf="rentModal.show">
          <tbody>
            <tr>
              <th>Movie Name</th>
              <td>{{ movie.title }}</td>
            </tr>
            <tr>
              <th>Movie Rate</th>
              <td>{{ movie.rate }}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div content-type="footer" class="modal-footer" *ngIf="rentModal.show">
        <button [disabled]="rentModal.working" type="button" class="btn btn-secondary"
            data-dismiss="modal">Cancel</button>
        <button [disabled]="rentModal.working" type="button" class="btn" [ngClass]="{
                'btn-primary': true
            }" (click)="rentMovie(true)">
            <i *ngIf="rentModal.working" class="fas fa-spinner fa-spin" style="font-size: 17px;"></i>
            Confirm Rent
        </button>
    </div>
</app-modal>