<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active">All Rentals</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <table class="table  table-bordered" *ngIf="authService.isAuth && authService.isAdmin && userId == null">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">User</th>
                        <th scope="col">Email</th>
                        <th scope="col">Total Rentals</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="!loadingRentals && rentals.length == 0">
                        <tr>
                            <td colspan="3" class="text-center">
                                No Rentals Available
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngFor="let rent of rentals">
                        <tr style="position: relative;">
                            <td>
                                <svg class="more-icon" *ngIf="!rent.expanded" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    fill="#000000" (click)="toggleRental(rent)">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z" />
                                </svg>

                                <svg class="more-icon" *ngIf="rent.expanded" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    fill="#000000" (click)="toggleRental(rent)">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z" />
                                </svg>
                                {{ rent.user.name }}
                            </td>
                            <td>{{ rent.user.email }}</td>
                            <td>{{ rent.movies.length }}</td>
                        </tr>
                        <tr *ngIf="rent.expanded">
                            <td colspan="3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Movie Name</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="rent.movies.length == 0">
                                            <tr>
                                                <td colspan="4" class="text-center">
                                                    No Rentals Available
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <ng-container *ngFor="let movie of rent.movies">
                                            <tr *ngIf="movie.movie">
                                                <ng-container *ngIf="movie.available">
                                                    <td>{{ movie.movie.title }}</td>
                                                    <td>{{ movie.startday }}</td>
                                                    <td>{{ movie.endday }}</td>
                                                    <td style="cursor:pointer">
                                                        <ng-container *ngIf="movie.expired && !movie.canceled">
                                                            Expired
                                                        </ng-container>
                                                        <ng-container *ngIf="!movie.expired && !movie.canceled">
                                                            <i tooltip="Pause/UnPause" class="fas mr-2" [ngClass]="{'fa-pause': !movie.paused, 'fa-play': movie.paused}" (click)="pauseRental(movie, rent.user._id)"></i>
                                                        </ng-container>

                                                        <ng-container *ngIf="!movie.expired && !movie.canceled && !movie.expired">
                                                            <i tooltip="Cancel" (click)="cancelRental(movie, rent.user._id)" class="fas fa-times" style="font-size: 17px;"></i>
                                                        </ng-container>
                                                        <ng-container *ngIf="movie.canceled">
                                                            Cancled
                                                        </ng-container>
                                                        <i tooltip="Delete" class="fas fa-trash ml-2" (click)="deleteRental(movie, rent.user._id)"></i>
                                                    </td>
                                                </ng-container>
                                                <ng-container *ngIf="!movie.available">
                                                    <td class="text-center">--</td>
                                                    <td colspan="2" class="text-center">Something went wrong. Please contact admin</td>
                                                    <td class="text-center">--</td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <table class="table table-bordered" *ngIf="authService.isAuth && (userId != null || authService.isUser) && !loadingRentals">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Movie Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="!loadingRentals && (userRentList==null || userRentList.movies.length == 0)">
                        <tr>
                            <td colspan="4" class="text-center">
                                No Rentals Available
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="userRentList">
                    <ng-container *ngFor="let movie of userRentList.movies">

                        <tr *ngIf="movie.movie">
                            <ng-container *ngIf="movie.available">
                                <td>{{ movie.movie.title }}</td>
                                <td>{{ movie.startday }}</td>
                                <td>{{ movie.endday }}</td>
                                <td style="cursor:pointer" class="text-center">
                                    <ng-container *ngIf="authService.isUser">
                                        <ng-container *ngIf="movie.expired && !movie.canceled">
                                            Expired
                                        </ng-container>
                                        <ng-container *ngIf="movie.paused && !movie.canceled">
                                            Paused
                                        </ng-container>
                                        <ng-container *ngIf="!movie.expired && !movie.canceled && !movie.expired && !movie.paused">
                                            <i tooltip="Cancel" *ngIf="!isCanceling" (click)="cancelRental(movie, userRentList.user)" class="fas fa-times" style="font-size: 17px;"></i>
                                        </ng-container>
                                        <ng-container *ngIf="movie.canceled">
                                            Cancled
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="authService.isAdmin">
                                        <ng-container *ngIf="movie.expired && !movie.canceled">
                                            Expired
                                        </ng-container>
                                        <ng-container *ngIf="!movie.expired && !movie.canceled">
                                            <i tooltip="Pause/UnPause" class="fas mr-2" [ngClass]="{'fa-pause': !movie.paused, 'fa-play': movie.paused}" (click)="pauseRental(movie, userRentList.user)"></i>
                                        </ng-container>

                                        <ng-container *ngIf="!movie.expired && !movie.canceled && !movie.expired">
                                            <i tooltip="Cancel" (click)="cancelRental(movie, userRentList.user)" class="fas fa-times" style="font-size: 17px;"></i>
                                        </ng-container>
                                        <ng-container *ngIf="movie.canceled">
                                            Cancled
                                        </ng-container>
                                        <i tooltip="Delete" class="fas fa-trash ml-2" (click)="deleteRental(movie, userRentList.user)"></i>
                                    </ng-container>
                                </td>
                            </ng-container>
                            <ng-container *ngIf="!movie.available">
                                <td class="text-center">--</td>
                                <td colspan="2" class="text-center">Something went wrong. Please contact admin</td>
                                <td class="text-center">--</td>
                            </ng-container>
                        </tr>
                    </ng-container>
                    </ng-container>
                </tbody>
            </table>
            <mat-progress-bar mode='indeterminate' *ngIf="loadingRentals"></mat-progress-bar>
        </div>
    </div>
</div>

<!-- cancle rental -->
<app-modal [title]="'Are you sure?'" [show]="cancelModalConfig.show" (onHidden)="cancelModalConfig.show = false" [config]="{
    header: true,
    footer: true
}">
    <div content-type="body">
        <p *ngIf="cancelModalConfig.show">
            Do you really want to cancel "{{ cancelModalConfig.data.movie.movie.title }}" rental?
        </p>
    </div>
    <div content-type="footer" class="modal-footer">
        <button [disabled]="isCanceling" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button [disabled]="isCanceling" type="button" class="btn btn-primary" (click)="cancelRental(cancelModalConfig.data.movie, cancelModalConfig.data.user, true)">
            <i *ngIf="isCanceling" class="fas fa-spinner fa-spin" style="font-size: 17px;"></i> Confirm Cancel
        </button>
    </div>
</app-modal>
<!-- pause rental -->
<app-modal [title]="'Are you sure?'" [show]="pauseModalConfig.show" (onHidden)="pauseModalConfig.show = false" [config]="{
    header: true,
    footer: true
}">
    <div content-type="body">
        <p *ngIf="pauseModalConfig.show">
            Do you really want to <span *ngIf="pauseModalConfig.data.movie.paused">un-</span>pause "{{ pauseModalConfig.data.movie.movie.title }}" rental?
        </p>
    </div>
    <div content-type="footer" class="modal-footer">
        <button [disabled]="isPausing" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button *ngIf="pauseModalConfig.show" [disabled]="isPausing" type="button" class="btn btn-primary" (click)="pauseRental(pauseModalConfig.data.movie, pauseModalConfig.data.user, true)">
            <i *ngIf="isPausing" class="fas fa-spinner fa-spin" style="font-size: 17px;"></i> Confirm <span *ngIf="pauseModalConfig.data.movie.paused">Un-</span>Pause
        </button>
    </div>
</app-modal>

<!-- delete rental -->
<app-modal [title]="'Are you sure?'" [show]="deleteModalConfig.show" (onHidden)="deleteModalConfig.show = false" [config]="{
    header: true,
    footer: true
}">
    <div content-type="body">
        <p *ngIf="deleteModalConfig.show">
            Do you really want to delete "{{ deleteModalConfig.data.movie.movie.title }}" rental?
        </p>
        <p>
            You cannot UNDO this operation
        </p>
    </div>
    <div content-type="footer" class="modal-footer">
        <button [disabled]="isDeleting" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button [disabled]="isDeleting" type="button" class="btn btn-danger" (click)="deleteRental(deleteModalConfig.data.movie, deleteModalConfig.data.user, true)">
            <i *ngIf="isDeleting" class="fas fa-spinner fa-spin" style="font-size: 17px;"></i> Confirm Delete
        </button>
    </div>
</app-modal>