<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active">All Customers</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Join Date</th>
                        <th scope="col">Movies</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!loadingCustomers && customers.length == 0">
                        <td colspan="5" class="text-center">
                            No Customers Available
                        </td>
                    </tr>
                    <tr *ngFor="let customer of customers">
                        <th scope="row" class="pn">
                            {{ customer.user.name }}
                        </th>
                        <td>{{ customer.user.email }}</td>
                        <td>{{ customer.user.formatedDate }}</td>
                        <td>({{ customer.movies.length }}) <a [routerLink]="'/rentals/' + customer.user._id">View</a></td>
                        <td style="cursor:pointer">
                            <ng-container *ngIf="authService.isAdmin">
                                <i tooltip="Lock/UnLock Customer" class="fas mr-2" [ngClass]="{'fa-lock': customer.isLocked, 'fa-unlock': !customer.isLocked}" (click)="toggleLock(customer)"></i>
                                <i tooltip="Delete Customer" class="fas fa-trash" (click)="deleteCustomer(customer)"></i>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-progress-bar mode='indeterminate' *ngIf="loadingCustomers"></mat-progress-bar>
        </div>
    </div>
</div>

<!-- lock/unlock customer -->
<app-modal [title]="'Are you sure?'" [show]="lockUnlockModalConfig.show" (onHidden)="lockUnlockModalConfig.show = false" [config]="{
    header: true,
    footer: true
}">
    <div content-type="body">
        <p *ngIf="lockUnlockModalConfig.show">
            Do you really want to <span *ngIf="lockUnlockModalConfig.data.customer.isLocked">un-</span>lock this customer?
        </p>
    </div>
    <div content-type="footer" class="modal-footer">
        <button [disabled]="lockUnlockModalConfig.working" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button *ngIf="lockUnlockModalConfig.show" [disabled]="lockUnlockModalConfig.working" type="button" class="btn btn-primary" (click)="toggleLock(lockUnlockModalConfig.data.customer, true)">
            <i *ngIf="lockUnlockModalConfig.working" class="fas fa-spinner fa-spin" style="font-size: 17px;"></i> Confirm <span *ngIf="lockUnlockModalConfig.data.customer.isLocked">Un-</span>Lock
        </button>
    </div>
</app-modal>

<!-- lock/unlock customer -->
<app-modal [title]="'Are you sure?'" [show]="deleteModalConfig.show" (onHidden)="deleteModalConfig.show = false" [config]="{
    header: true,
    footer: true
}">
    <div content-type="body">
        <p *ngIf="deleteModalConfig.show">
            Do you really want to delete this customer?
        </p>
        <p>
            You cannot UNDO this operation.
        </p>
    </div>
    <div content-type="footer" class="modal-footer">
        <button [disabled]="deleteModalConfig.working" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button *ngIf="deleteModalConfig.show" [disabled]="deleteModalConfig.working" type="button" class="btn btn-danger" (click)="deleteCustomer(deleteModalConfig.data.customer, true)">
            <i *ngIf="deleteModalConfig.working" class="fas fa-spinner fa-spin" style="font-size: 17px;"></i> Confirm Delete
        </button>
    </div>
</app-modal>