<br><br>
<div class="container">
    <form>
        <fieldset>
              <div class="form-group row">
                <h2>Movie Form</h2>
            </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">
            
          </div>
          <div class="form-group">
            <label for="exampleSelect1">Select Genere</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Number in stock</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Stock">
            
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Movie Rate</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Movie Rate">
            
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </fieldset>
      </form>
</div>
