<div class="container">
    <form>
        <fieldset>
          <legend>Movie</legend>
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Number in Stock</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter stock">
          </div>
          <div class="form-group">
            <label for="exampleSelect1">Genre</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Movie Rate</label>
            <input type="password" class="form-control" id="exampleInputPassword1" 
            placeholder="Enter movie rate">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </fieldset>
      </form>
</div>