<div class="container mt-4">
  <div class="row">
    <div class="col-3">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active">All Wishlists</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">Title</th>
            <th scope="col">Genere</th>
            <th scope="col">Rating</th>
            <th scope="col">Rate</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody  class="pn">
          <ng-container *ngIf="(wishList.length==0 || wishList[0].movies.length==0) && !loadingMovies">
            <tr>
                <td colspan="5" class="text-center">
                    No Wishlist Available
                </td>
            </tr>
        </ng-container> 
          <ng-container *ngFor="let movie of wishList; let index = index;">
            <tr
              scope="row"
              colspan="5"
              class="pn"
              *ngFor="
                let Favorites of movie.movies.slice().reverse() 
                  | paginate: { itemsPerPage: 6, currentPage: p },
                  let i=index;"
            >
              <td  scope="row">
                <a [routerLink]="'/movie/' + Favorites._id">{{ Favorites.title }}</a>
              </td>
              <td scope="row">{{ Favorites.genre.name }}</td>
              <td scope="row">{{ Favorites.rating }}</td>
              <td scope="row">{{ Favorites.rate }}</td>
              <td style="cursor:pointer" scope="row" *ngIf="!isCanceling">
                <i tooltip="Delete" (click)="deleteFav(Favorites._id)" class="fas fa-trash" style="font-size: 17px;"></i>
                &nbsp;
                <button
                  type="button"
                  (click)="rentMovie(Favorites._id, index)"
                  class="btn btn-primary"
                  [disabled]="Favorites.renting"
                >
                <span *ngIf="Favorites.renting" class=" pl-1 pr-1"><i class="fas fa-spinner fa-spin"></i></span> 
                <span *ngIf="!Favorites.renting">Rent</span>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="loadingMovies"
      ></mat-progress-bar>
      <div class="text-center mt-2">
        <span *ngIf="wishList.length!==0 && wishList[0].movies.length!==0">
        <!-- <ul class="pagination"style="padding-left: 0%;margin-left:24%;">
          <li class="page-item active"> -->
            <pagination-controls
              [autoHide]="true"
              (pageBoundsCorrection)="p=1"
              (pageChange)="p = $event"
            ></pagination-controls>
          <!-- </li>
        </ul> -->
      </span>
      </div>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="showProgress"
      ></mat-progress-bar>
    </div>
  </div>

  <app-modal
    [title]="'Are you sure?'"
    [show]="cancelModalConfig.show"
    (onHidden)="cancelModalConfig.show = false"
    [config]="{
      header: true,
      footer: true
    }"
  >
    <div content-type="body">
      <p>Delete Movie From Wishlist...</p>
    </div>
    <div content-type="footer" class="modal-footer">
      <button
        [disabled]="isCanceling"
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
      >
        Cancel
      </button>
      <button
        [disabled]="isCanceling"
        type="button"
        class="btn btn-primary"
        (click)="deleteFav(cancelModalConfig.data._id, true)"
      >
        <i
          *ngIf="isCanceling"
          class="fas fa-spinner fa-spin"
          style="font-size: 17px"
        ></i>
        Confirm Delete
      </button>
    </div>
  </app-modal>
</div>
