<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">

            <ul style="cursor:pointer" class="nav nav-pills flex-column my-4">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{ active: selectedGenre == 'all' }" (click)="getGenre('all')">All
                        Genres</a>
                </li>
                <li *ngFor="let gener of generes" class="nav-item">
                    <a class="nav-link" [ngClass]="{ active: selectedGenre == gener.name }"
                        (click)="getGenre(gener.name)">{{ gener.name }}</a>
                </li>
            </ul>

            <mat-progress-bar mode="indeterminate" class="my-4" *ngIf="loadingGenres"></mat-progress-bar>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div class="my-4">
                <div *ngIf="authservice.isAdmin">
                    <a class="btn btn-primary" routerLink="/movies/new" style="margin-bottom: 20px">New Movie</a>
                </div>
                <!-- <p *ngIf="movies">
                    Showing {{ (movies | filter: query).length }} in the database.
                </p> -->
                <input type="text" name="query" class="form-control my-3" placeholder="Search..." [(ngModel)]="query"
                    value="" />
            </div>
            <table class="table table-hover" *ngIf="authservice.isAdmin">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">
                            Title
                            <i [ngClass]="{
                            'fas': true,  
                            'fa-sort':  !(sortKey == 'title' || sortKey == '-title'),
                            'fa-sort-down':  sortKey == 'title',
                            'fa-sort-up':  sortKey == '-title',
                            'float-right': true
                        }" (click)="sortBy('title')" role="button"></i>
                        </th>
                        <th scope="col">Genere</th>
                        <th scope="col">
                            Rating
                            <i [ngClass]="{
                            'fas': true,  
                            'fa-sort':  !(sortKey == 'rating' || sortKey == '-rating'),
                            'fa-sort-down':  sortKey == 'rating',
                            'fa-sort-up':  sortKey == '-rating',
                            'float-right': true
                        }" (click)="sortBy('rating')" role="button"></i>
                        </th>
                        <th scope="col">
                            Rate
                            <i [ngClass]="{
                            'fas': true,  
                            'fa-sort':  !(sortKey == 'rate' || sortKey == '-rate'),
                            'fa-sort-down':  sortKey == 'rate',
                            'fa-sort-up':  sortKey == '-rate',
                            'float-right': true
                        }" (click)="sortBy('rate')" role="button"></i>
                        </th>
                        <th scope="col">
                            Uploaded At
                            <i [ngClass]="{
                            'fas': true,  
                            'fa-sort':  !(sortKey == 'createdAt' || sortKey == '-createdAt'),
                            'fa-sort-down':  sortKey == 'createdAt',
                            'fa-sort-up':  sortKey == '-createdAt',
                            'float-right': true
                        }" (click)="sortBy('createdAt')" role="button"></i>
                        </th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="movies">
                        <tr *ngFor="
                        let movie of movies
                            | filter: query
                            | paginate: { itemsPerPage: 15, currentPage: p }
                        ">
                            <th scope="row" class="pn">
                                <a href="javascript:void(0)" (click)="openMovie(movie)">{{ movie.title }}</a>
                            </th>
                            <td>{{ (movie.genre != null) ? movie.genre.name : ' - ' }}</td>
                            <td>{{ movie.rating }}</td>
                            <td>{{ movie.rate }}</td>
                            <td>{{ movie.uploadedAt }}</td>
                            <td style="cursor:pointer">
                                <!-- <ng-container *ngIf="authservice.isAdmin"> -->
                                <i tooltip="Edit" routerLink="/movies/{{ movie._id }}" class="fas fa-edit"
                                    style="font-size: 17px"></i>
                                &nbsp;
                                <i [tooltip]="movie.isDeleted ? 'Restore': 'Delete'"
                                    (click)="deleteOrRestoreMovie(movie)" class="fas "
                                    [ngClass]="{'fa-trash': !movie.isDeleted, 'fa-trash-restore': movie.isDeleted}"
                                    style="font-size: 17px"></i>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="row" *ngIf="authservice.isUser">

                <div class="col-lg-4 col-md-6 mb-4" *ngFor="
                    let movie of movies
                        | filter: query
                        | paginate: { itemsPerPage: 5, currentPage: p }
                    ">
                    <div class="card h-100">
                        <a href="javascript:void(0);" style="position: relative;" (click)="openMovie(movie)">
                            <div class="embed-responsive embed-responsive-16by9">
                                <img class="embed-responsive-item"  [src]="movie.thumbnail | safe" alt="">
                            </div>
                            <i class="fas fa-play play-trailer" tooltip="Play"></i>
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="javascript:void(0)" (click)="openMovie(movie)">{{ movie.title }} ({{ movie.year }})</a>
                            </h4>
                            <!-- <h5>Rs. {{ movie.rate }}</h5> -->
                            <div class="card-text text-left" style="display: block;">
                                <p class="text-truncate">{{ movie.description }}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="text-warning" style="font-size: 19px;">
                                <ng-container *ngFor="let i of [].constructor(5); let index = index;">
                                    <ng-container *ngIf="(index < movie.rating); else whiteStarTpl;">
                                        &#9733;
                                    </ng-container>
                                    <ng-template #whiteStarTpl>&#9734;</ng-template>
                                </ng-container>
                            </span>
                            <div class="float-right">
                                <!-- !(wishList.length > 0 ? getStatus(movie._id) : false) -->
                                <!-- 'fas fa-heart': false -->
                                <i style="font-size: 21px;" [ngClass]="{
                                    'far': !getStatus(movie._id),
                                    'fas': getStatus(movie._id),
                                    'fa-heart': true
                                }" role="button" (click)="wishListClicked(movie._id, $event)"></i>
                                <button type="button" [disabled]="movie.renting || movie.isRented" 
                                    (click)="rentMovie(movie._id)"
                                    class="btn btn-primary ml-2 btn-sm rounded" [ngClass]="{
                                        disabled: movie.renting || movie.isRented
                                    }">
                                    <span *ngIf="movie.renting" class="pl-1 pr-1"><i
                                            class="fas fa-spinner fa-spin"></i></span>
                                    <span *ngIf="!movie.renting">
                                        Rent<span *ngIf="movie.isRented">ed</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

            <mat-progress-bar mode="indeterminate" *ngIf="loadingMovies"></mat-progress-bar>
            <div *ngIf="p > 1" class="mt-2">
                <span *ngIf="movie!=0">
                    <ul class="pagination" style="padding-left: 0%;margin-left:19%;" *ngIf="!loadingMovies">
                        <li class="page-item active">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </li>
                    </ul>
                </span>
            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<app-modal [title]="'Are you sure?'" [show]="deleteRestoreModalConfig.show"
    (onHidden)="deleteRestoreModalConfig.show = false" [config]="{
        header: true,
        footer: true
    }">
    <div content-type="body">
        <p *ngIf="deleteRestoreModalConfig.show">
            Do you really want to
            <span *ngIf="deleteRestoreModalConfig.data.movie.isDeleted">restore</span>
            <span *ngIf="!deleteRestoreModalConfig.data.movie.isDeleted">delete</span>
            "{{ deleteRestoreModalConfig.data.movie.title }}"?
        </p>
    </div>
    <div content-type="footer" class="modal-footer" *ngIf="deleteRestoreModalConfig.show">
        <button [disabled]="deleteRestoreModalConfig.working" type="button" class="btn btn-secondary"
            data-dismiss="modal">Cancel</button>
        <button [disabled]="deleteRestoreModalConfig.working" type="button" class="btn" [ngClass]="{
                'btn-danger': !deleteRestoreModalConfig.data.movie.isDeleted,
                'btn-primary': deleteRestoreModalConfig.data.movie.isDeleted
            }" (click)="deleteOrRestoreMovie(deleteRestoreModalConfig.data.movie, true)">
            <i *ngIf="deleteRestoreModalConfig.working" class="fas fa-spinner fa-spin" style="font-size: 17px;"></i>
            Confirm
            <span *ngIf="deleteRestoreModalConfig.data.movie.isDeleted">Restore</span>
            <span *ngIf="!deleteRestoreModalConfig.data.movie.isDeleted">Delete</span>
        </button>
    </div>
</app-modal>