<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <ul style="cursor:pointer" class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{ active: selectedGenre == 'all' }" (click)="getGenre('all')">All
                        Genres</a>
                </li>
                <li *ngFor="let gener of generes" class="nav-item">
                    <a class="nav-link" [ngClass]="{ active: selectedGenre == gener.name }"
                        (click)="getGenre(gener.name)">{{ gener.name }}</a>
                </li>
            </ul>
            <mat-progress-bar mode="indeterminate" class="mt-3" *ngIf="loadingGenres"></mat-progress-bar>
        </div>
        <div class="col">
            <div *ngIf="authservice.isAdmin">
                <a class="btn btn-primary" routerLink="/movies/new" style="margin-bottom: 20px">New Movie</a>
            </div>
            <p *ngIf="movies">
                Showing {{ (movies | filter: query).length }} in the database.
            </p>
            <input type="text" name="query" class="form-control my-3" placeholder="Search..." [(ngModel)]="query"
                value="" />
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">
                            Title 
                            <i  [ngClass]="{
                                'fas': true,  
                                'fa-sort':  !(sortKey == 'title' || sortKey == '-title'),
                                'fa-sort-down':  sortKey == 'title',
                                'fa-sort-up':  sortKey == '-title',
                                'float-right': true
                            }" (click)="sortBy('title')"></i>
                        </th>
                        <th scope="col">Genere</th>
                        <th scope="col">
                            Stock 
                            <i  [ngClass]="{
                                'fas': true,  
                                'fa-sort':  !(sortKey == 'stock' || sortKey == '-stock'),
                                'fa-sort-down':  sortKey == 'stock',
                                'fa-sort-up':  sortKey == '-stock',
                                'float-right': true
                            }" (click)="sortBy('stock')"></i>
                        </th>
                        <th scope="col">
                            Rate 
                            <i [ngClass]="{
                                'fas': true,  
                                'fa-sort':  !(sortKey == 'rate' || sortKey == '-rate'),
                                'fa-sort-down':  sortKey == 'rate',
                                'fa-sort-up':  sortKey == '-rate',
                                'float-right': true
                            }" (click)="sortBy('rate')"></i>
                        </th>
                        <th *ngIf="authservice.isAdmin" scope="col">
                            Uploaded At 
                            <i  [ngClass]="{
                                'fas': true,  
                                'fa-sort':  !(sortKey == 'createdAt' || sortKey == '-createdAt'),
                                'fa-sort-down':  sortKey == 'createdAt',
                                'fa-sort-up':  sortKey == '-createdAt',
                                'float-right': true
                            }" (click)="sortBy('createdAt')"></i>
                        </th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="movies">
                        <tr *ngFor="
                            let movie of movies
                                | filter: query
                                | paginate: { itemsPerPage: 5, currentPage: p }
                            ">
                            <th scope="row" class="pn">
                                {{ movie.title }}
                            </th>
                            <td>{{ (movie.genre != null) ? movie.genre.name : ' - ' }}</td>
                            <td>{{ movie.stock }}</td>
                            <td>{{ movie.rate }}</td>
                            <td *ngIf="authservice.isAdmin">{{ movie.uploadedAt }}</td>
                            <td style="cursor:pointer">
                                <ng-container *ngIf="authservice.isAdmin">
                                    <i tooltip="Edit" routerLink="/movies/{{ movie._id }}" class="fas fa-edit"
                                        style="font-size: 17px"></i>
                                    &nbsp;
                                    <i [tooltip]="movie.isDeleted ? 'Restore': 'Delete'"
                                        (click)="deleteOrRestoreMovie(movie)" class="fas "
                                        [ngClass]="{'fa-trash': !movie.isDeleted, 'fa-trash-restore': movie.isDeleted}"
                                        style="font-size: 17px"></i>
                                </ng-container>
                                <ng-container *ngIf="authservice.isUser">
                                    <label>
                                        <input type="checkbox" [checked]="
                                            wishList.length > 0 ? getStatus(movie._id) : false
                                            " data-md-icheck #checkdelet 
                                            id="{{ movie._id }}" name="movie" value="{{ movie._id }}"
                                            (click)="wishListClicked(movie._id, $event)" />
                                        <span>&nbsp;</span>Wishlist
                                    </label>
                                    &nbsp;
                                    <button type="button" [disabled]="movie.renting" (click)="rentMovie(movie._id)" class="btn btn-primary">
                                       <span *ngIf="movie.renting" class=" pl-1 pr-1"><i class="fas fa-spinner fa-spin"></i></span> 
                                       <span *ngIf="!movie.renting">Rent</span>
                                    </button>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <mat-progress-bar mode="indeterminate" *ngIf="loadingMovies"></mat-progress-bar>
            <div><br><br>
                <span *ngIf="movie!=0">
                    <ul class="pagination" style="padding-left: 0%;margin-left:19%;" *ngIf="!loadingMovies">
                        <li class="page-item active">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </li>
                    </ul>
                </span>
                <mat-progress-bar mode="indeterminate" *ngIf="showProgress"></mat-progress-bar>
            </div>
        </div>
    </div>
</div>


<app-modal [title]="'Are you sure?'" [show]="deleteRestoreModalConfig.show"
    (onHidden)="deleteRestoreModalConfig.show = false" [config]="{
        header: true,
        footer: true
    }">
    <div content-type="body">
        <p *ngIf="deleteRestoreModalConfig.show">
            Do you really want to
            <span *ngIf="deleteRestoreModalConfig.data.movie.isDeleted">restore</span>
            <span *ngIf="!deleteRestoreModalConfig.data.movie.isDeleted">delete</span>
            "{{ deleteRestoreModalConfig.data.movie.title }}"?
        </p>
    </div>
    <div content-type="footer" class="modal-footer" *ngIf="deleteRestoreModalConfig.show">
        <button [disabled]="deleteRestoreModalConfig.working" type="button" class="btn btn-secondary"
            data-dismiss="modal">Cancel</button>
        <button [disabled]="deleteRestoreModalConfig.working" type="button" class="btn" [ngClass]="{
                'btn-danger': !deleteRestoreModalConfig.data.movie.isDeleted,
                'btn-primary': deleteRestoreModalConfig.data.movie.isDeleted
            }" (click)="deleteOrRestoreMovie(deleteRestoreModalConfig.data.movie, true)">
            <i *ngIf="deleteRestoreModalConfig.working" class="fas fa-spinner fa-spin" style="font-size: 17px;"></i>
            Confirm
            <span *ngIf="deleteRestoreModalConfig.data.movie.isDeleted">Restore</span>
            <span *ngIf="!deleteRestoreModalConfig.data.movie.isDeleted">Delete</span>
        </button>
    </div>
</app-modal>