<br /><br />
<div class="container">
  <div class="row">
    <div class="col-3">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" (click)="getGenre('all')">All Genres</a>
        </li>
        <li *ngFor="let gener of generes" class="nav-item">
          <a class="nav-link" (click)="getGenre(gener.name)">{{
            gener.name
          }}</a>
        </li>
        <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Comedy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Romance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Thriller</a>
                </li> -->
      </ul>
    </div>
    <div class="col">
      <div *ngIf="authservice.isAdmin">
        <a
          class="btn btn-primary"
          routerLink="/movies/new"
          style="margin-bottom: 20px"
          >New Movie</a
        >
      </div>
      <p *ngIf="movies">
        Showing {{ (movies | filter: query).length }} in the database.
      </p>
      <input
        type="text"
        name="query"
        class="form-control my-3"
        placeholder="Search..."
        [(ngModel)]="query"
        value=""
      />
      <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">Title</th>
            <th scope="col">Genere</th>
            <th scope="col">Stock</th>
            <th scope="col">Rate</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
    <ng-container *ngIf="movies">
        <tr
        *ngFor="
          let movie of movies
            | filter: query
            | paginate: { itemsPerPage: 5, currentPage: p }
        "
      >
        <th scope="row" class="pn">
          {{ movie.title }}
        </th>
        <td>{{ movie.genre.name }}</td>
        <td>{{ movie.stock }}</td>
        <td>{{ movie.rate }}</td>
        <td>
          <ng-container *ngIf="authservice.isAdmin">
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2"
              height="20" 
              viewBox="0 0 24 24" 
              width="24" 
              fill="#000000"
              routerLink="/movies/{{ movie._id }}"
              >
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/>
            </svg>
            
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash-fill"
              viewBox="0 0 16 16"
              title="delete"
              (click)="clickMethod(movie._id)"
            >
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
              />
            </svg>
          </ng-container>
          <ng-container *ngIf="authservice.isUser">
            <input
              type="checkbox"
              [checked]="wishList.length >0 ? getStatus(movie._id):false"
              data-md-icheck
              #checkdelet
              id="{{ movie._id }}"
              name="movie"
              value="{{ movie._id }}"
              (click)="wishListClicked(movie._id, $event)"
            />
          </ng-container>
          
        </td>
        <!-- <td ><fa-icon
                          [icon]="faUserDefault"
                          (click)="onClickBtn($event)"
                        ></fa-icon></td> -->
      </tr>
    </ng-container>
            
        </tbody>
      </table>

      <div>
        <ul class="pagination">
          <li class="page-item active">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </li>
          <!-- <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <script>
    function changeStatus(x) {
      x.classList.toggle("bi bi-heart-fill");
    }
    // </script> -->
