<br><br>
<div class="container">
    <div class="row">
        <div class="col-3">

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">All Genres</a>
                </li>
                <li   *ngFor="let gener of generes" class="nav-item">
                    <a class="nav-link" href="#">{{gener.name}}</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Comedy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Romance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Thriller</a>
                </li> -->
            </ul>
        </div>
        <div class="col">
            <div *ngIf="!token">
            <a class="btn btn-primary" routerLink="/movies/new" style="margin-bottom: 20px;">New Movie</a>
            </div>
            <p>Showing {{movies!=='undefined' ? (movies|filter:query).length : ''}} in the database.</p>
            <input type="text" name="query" class="form-control my-3" placeholder="Search..." [(ngModel)]="query" value="">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Title </th>
                        <th scope="col">Genere</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Rate</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of movies |filter:query">
                        <th scope="row">{{movie.title}}</th>
                        <td>{{movie.genre.name}}</td>
                        <td>{{movie.stock}}</td>
                        <td>{{movie.rate}}</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>